.App {
  text-align: center;
  padding: 38px;
  display: flex;           
  flex-direction: column;  
  align-items: center;     
  width: 100%;             
}

.Title {
  font-size: 12px;;
}
.incorrect {
  color: red;
}

.TimerDisplay {
  font-size: 22px;
  margin: 10px 0;
}


.Words {
  font-size: 20px;
  margin: 38px 0;
}

.CurrentWord {
  text-decoration: underline;
}

.WordsLine {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.UserInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 13px;
  width: 100%;             
}


.UserInput {
  width: 200px; /* You can adjust this to your preference */
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Add a border so it's visible */
}


button {
  font-size: 23px;
  padding: 15px 25px;
  background-color: #fff700;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin: 0; 
  line-height: 1; 
  vertical-align: middle; 
  box-sizing: border-box; 
}


.Result {
  font-size: 26px;
  margin-top: 36px;
}

body {
  overflow-x: hidden;
}
.results-container {
  font-size: 50%;
  display: flex; /* Make it a flex container */
  justify-content: space-between; /* Add space between child items */
}

.user-typing-results {
  width: 10%; /* Takes up 45% of the parent container's width */
  /* ... any other styling for the results ... */
}

.wpm-chart-container {
  width: 90%; /* Takes up 50% of the parent container's width */
  /* ... any other styling for the graph ... */
}
