.App {
  text-align: center;
  padding: 38px;
  display: flex;           
  flex-direction: column;  
  align-items: center;     
  width: 100%;   
  background-color: #382b25; 
  min-height: 100vh;           
}






.Title {
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #FFD700;
}
.typed {
  color: #dfdfdf;
}
.incorrect {
  color: red;
}

.TimerDisplay {
  background-color: #1d1613;
  color: #FFD700;
  width: 10%; 
  margin: 0 auto;  
  padding: 7px;  
  border-radius: 10px;  
  
}
.instructions-container{
  background-color: #1d1613;
  color: #FFD700;
  width: 10%; 
  margin: 0 auto; 
  padding: 7px; 
  border-radius: 10px;  
}


.Words {
  font-size: 20px;
  margin: 38px 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.CurrentWord {
  text-decoration: underline;

}

.WordsLine {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFD700;
}

.duration-button {
  height: 25px;
  width: 40px; 
  font-size: 14px;
  background-color: #fce359;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.duration-button:hover {
  background-color: #FFD700;
}

.duration-button:disabled {
  background-color: #fce359 !important;
}








.UserInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 13px;
  width: 100%;             
}

.UserInput {
  width: 200px; 
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  color: #1d1613; 
}

button {
  font-size: 25px;
  padding: 10px 20px;
  background-color: gold;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin: 0; 
  line-height: 1; 
  vertical-align: middle; 
  box-sizing: border-box; 
}


.Result {
  font-size: 25px;
  margin-top: 40px;
  
}

body {
  overflow-x: hidden;
}
.results-container {
  font-size: 70%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex; 
  justify-content: space-between; 
  background-color: #fce359;
   
}

.user-typing-results {
  width: 10%; 
}

.wpm-chart-container {
  width: 90%;
}
.language-container {
  background-color: #1d1613;
  color: #FFD700;
  width: 20%;  
  margin: 0 auto; 
  padding: 7px;  
  border-radius: 10px;  
}
.test-duration-container {
  background-color: #1d1613;
  color: #FFD700;
  width: 25%;  
  margin: 0 auto;  
  padding: 7px;  
  border-radius: 10px;  
}
.test-duration-container,
.language-container,
.instructions-container,
.TimerDisplay,
.Words,
.UserInputContainer {
    margin-bottom: 7px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}